html {
    background-color: #f2f2f2;
}
body {font-family:"Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, Tahoma, Arial, sans-serif;}
.layui-fluid {
    padding: 15px
}
.layui-input-block {
	margin-left: 150px;
}
.layui-layout-admin .layui-body {
	bottom: 0
}
.hide {display:none}
.search {border-left-width: 0}
/*.layui-input {width:220px}*/
.layui-body .layui-tab-title .layui-this {background-color:#009688;color:#fff}
.layui-body .layui-tab {margin-top:0px;margin-bottom:0px}
.layui-tab-content {
    padding:0px;
}
.layui-tab .layui-tab-content {
	position: inherit;
}
.layui-tab .layui-tab-item {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow:auto;
}
.layui-tab-content iframe {
	width:100%;
	height:100%;
	position:absolute;
}
.layui-tab-card {
	height:40px;
	margin:0;
}
/*.layui-tab ul.layui-tab-title li:nth-child(1) i {display: none;}*/

/*打开页面动画
.layui-tab-item.layui-show{ animation:moveTop 0.5s; -webkit-animation:moveTop 0.5s; animation-fill-mode:both; -webkit-animation-fill-mode:both; }
@keyframes moveTop{
    0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
    100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}
@-o-keyframes moveTop{
    0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
    100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}
@-moz-keyframes moveTop{
    0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
    100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}
@-webkit-keyframes moveTop{
    0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
    100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}*/
#inputForm {background-color:#fff}
#inputForm .layui-form-label {width:120px}
#searchForm .layui-form-item .layui-input-inline {width:120px}
#inputForm .layui-form-item .layui-input-inline {width:220px}
#inputForm .layui-textarea {width:300px}
#btnDelete {border-left:1px solid #e6e6e6}
.input-min{width:30px;} .input-mini{width:90px;} .input-small{width:120px;} .input-medium {width:163px;}.input-xxlarge {width:460px;}
.layui-form-item.has-error label{color:#dd4b39}
.layui-form-item.has-error .layui-input,.layui-form-item.has-error .layui-textarea,
.layui-form-item.has-error .layui-input:hover,.layui-form-item.has-error .layui-textarea:hover {border-color:#dd4b39!important;box-shadow:none}
label.has-error {
    top: 33px;
    left: 15px;
    padding: 0 5px 1px;
    font-size: 11px;
    color: #fff!important;
    max-width: none;
    position: absolute;
    background: #ff6969;
    z-index: 1000;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px #dedede;
    box-shadow: 0 5px 10px #dedede
}
label.has-error:after {
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #ff6969;
    border-style: solid;
    border-width: 6px;
    content: "";
    height: 0;
    left: 15px;
    position: absolute;
    top: -11px;
}