.hide {display:none}
.search {border-left-width: 0}
/*.layui-input {width:220px}*/
.layui-body .layui-tab-title .layui-this {background-color:#009688;color:#fff}
.layui-body .layui-tab {margin-top:0px;margin-bottom:0px}
.layui-tab-content {padding-top:0px;padding-bottom:0px;padding-right:0px}
.layui-layout-admin .layui-body{overflow-y:hidden}
.layui-tab-content {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}
.layui-tab-content .layui-tab-item {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
}
/*.layui-tab ul.layui-tab-title li:nth-child(1) i {display: none;}*/

/*打开页面动画
.layui-tab-item.layui-show{ animation:moveTop 0.5s; -webkit-animation:moveTop 0.5s; animation-fill-mode:both; -webkit-animation-fill-mode:both; }
@keyframes moveTop{
    0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
    100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}
@-o-keyframes moveTop{
    0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
    100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}
@-moz-keyframes moveTop{
    0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
    100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}
@-webkit-keyframes moveTop{
    0% {opacity: 0;-webkit-transform: translateY(20px);-ms-transform: translateY(20px);transform: translateY(20px);}
    100% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}*/

#inputForm .layui-form-label {width:120px}
#searchForm .layui-form-item .layui-input-inline {width:120px}
#inputForm .layui-form-item .layui-input-inline {width:220px}
#inputForm .layui-textarea {width:300px}
#btnDelete {border-left:1px solid #e6e6e6}
.input-min{width:30px;} .input-mini{width:90px;} .input-small{width:120px;} .input-medium {width:163px;}.input-xxlarge {width:460px;}