.hide {display:none}
.search {border-left-width: 0}
/*.layui-input {width:220px}*/
#inputForm .layui-form-label {width:120px}
#searchForm .layui-form-item .layui-input-inline {width:120px}
#inputForm .layui-form-item .layui-input-inline {width:220px}
#inputForm .layui-textarea {width:300px}
#btnDelete {border-left:1px solid #e6e6e6}
.input-min{width:30px;} .input-mini{width:90px;} .input-small{width:120px;} .input-medium {width:163px;}.input-xxlarge {width:460px;}